/* FONTS */

/* ROOT CSS */

:root {
  --white: #ffffff;
  --gray-900: #18181b;
  --gray-500: #70707b;
}

/* GENERAL CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Satoshi", sans-serif;
  background-color: var(--white);
}

/* CUSTOM CLASSES */

.container {
  padding: 0 5rem;
  margin: 0 auto;
}

.main-heading {
  font-size: clamp(2rem, 0.3118rem + 7.0022vw, 6.5rem);

  color: var(--white);
  font-weight: 400;
  line-height: auto;
  white-space: nowrap;
}

.main-heading span {
  font-weight: 700;
}

.section-heading {
  color: var(--gray-900);
  font-size: clamp(2rem, 1.5833rem + 2.0833vw, 3.25rem);
  font-weight: 400;
  line-height: 3.9rem;
  letter-spacing: -2%;
}

.contactus-heading {
  color: var(--white);
  font-size: clamp(2.5rem, 2rem + 2.5vw, 4rem);
  line-height: 4.75rem;
}

.section-paragraph {
  color: var(--gray-500);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.937rem;
}

.normal-heading {
  color: var(--gray-900);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.781rem;
}

.normal-paragraph {
  color: var(--gray-500);
  font-size: 1rem;
  line-height: 1.55rem;
}

.btn-primary {
  padding: 0.625rem 1.406rem;
  background: var(--gray-900);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.55rem;
  border-radius: 0.75rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  scale: 1.02;
}

.btn-secondary {
  padding: 0.625rem 1.125rem;
  background: var(--white);
  color: var(--gray-900);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.55rem;
  border-radius: 0.75rem;
  text-transform: capitalize;
}

/* HEADER SECTION START */

.header-area .navbar {
  padding: 1.656rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* z-index: 9999; */
}

.header-area .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: .5rem; */
}
.header-area .menu ul li a {
  color: var(--gray-500);
  font-size: 0.875rem;
  line-height: 1.356rem;
  padding: 0.25rem 0.75rem;
}

.header-area .menu ul li:nth-child(2) {
  color: var(--gray-900);
  font-weight: 600;
}

.header-area .menu-icon {
  display: none;
}

.header-area .header_content {
  height: 100vh;
  padding-bottom: 4rem;
  display: flex;
  align-items: end;
}
.header-area .header_content .text-block {
  width: 80%;
}
.header-area .header_content .img-block {
  width: 20%;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: #ffffff43;
}
.header-area .header_content .img-block .img-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.header-area .header_content .img-block .img-wraper img {
  width: 100%;
}
/* HEADER SECTION END */

/* ABOUT US SECTION START */

.about-us {
}
.about-us .container {
  margin: 5rem 0;
}

.about-us .about_banner_img {
  margin: 3.5rem 0;
}

.about-us .about_banner_img img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}
.about-us .contents {
  display: flex;

  gap: 3.8rem;
  justify-content: flex-start;
}

.about-us .contents .left-block {
  min-width: 45%;
}

.about-us .contents .left-block button {
  margin-top: 2rem;
}

.about-us .contents .right-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-us .about_counter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.about-us .about_counter > div {
  min-width: 204px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us .about_counter span {
  font-size: clamp(2.5rem, 1.8924rem + 3.038vw, 4rem);
  font-weight: 400;
  line-height: 4.8rem;
}
.about-us .about_counter p {
  font-size: 1.25rem;
  line-height: 1.938rem;
  color: var(--gray-500);
}
.about-us .about_counter span sup {
  font-size: 2.5rem;
  line-height: 3rem;
  color: var(--gray-500);
}

/* FUTURE SECTION */

.about-us .about_future {
  margin-top: 3.5rem;
  display: flex;
  margin-bottom: 5rem;

  align-items: start;
  justify-content: space-between;
  gap: 3rem;
  height: auto;
}

.about-us .about_future .text-block,
.about-us .about_future .image_block {
  width: 50%;
}

.about-us .about_future .section-paragraph {
  margin-top: 1.25rem;
  font-size: 1.125rem;
}
.about-us .about_future .text-block .image_block {
}
.about-us .about_future .image_block img {
  width: 100%;
}

/* BRANDED BANKS */
.about-us .about_brands {
  padding: 5rem 0;
}
.about-us .about_brands .brand_text {
  margin-bottom: 3rem;
}
.about-us .about_brands .brand_text h3 {
  font-size: clamp(2rem, 1.7975rem + 1.0127vw, 2.5rem);
  font-weight: 500;
  line-height: 3rem;
  text-align: center;
}
.about-us .about_brands .brand_img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.about-us .about_brands .brand_img img {
  width: 180px;
}

/* FAQ SECTION START */

.faq-section {
}

.faq-section .faq-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
  padding: 5rem 0;
}
.faq-section .faq-content .left-side {
  width: 50%;
}
.faq-section .faq-content .left-side h3 {
  margin-bottom: 1.5rem;
}
.faq-section .faq-content .left-side p {
  margin-bottom: 3.5rem;
}
.faq-section .faq-content .left-side img {
  width: 100%;
  margin-bottom: 1.875rem;
  border-radius: 0.75rem;
}
.faq-section .faq-content .right-side {
  width: 60%;
}
.faq-section .faq-content .right-side .faq-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.faq-section .faq-content .right-side .faq-list .faq-item {
  background: #fff;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}
.faq-section .faq-content .right-side .faq-list .faq-item h3 {
  font-size: 1.125rem;
  line-height: 1.743rem;
  color: var(--gray-500);
  flex: 1;
}

.faq-section .faq-content .right-side .faq-list .faq-item span {
  color: var(--gray-500);
  font-size: 1.5rem;
}
.faq-section .faq-content .right-side .faq-list .faq-item.expanded {
  background: #fafafa;
}

.faq-section .faq-content .right-side .faq-list .faq-item.expanded {
  display: block;
}

.faq-section .faq-content .right-side .faq-list .faq-item.expanded h3 {
  color: var(--gray-900);
}

.faq-section .faq-content .right-side .faq-list .faq-item.expanded p {
  margin: 1rem 0;
}
.faq-section
  .faq-content
  .right-side
  .faq-list
  .faq-item.expanded
  .expanded-content {
  display: flex;
}
/* FAQ SECTION END */

/* FOOTER SECTION START */
.footer-area {
  background-color: var(--gray-900);
  color: var(--white);
}

.footer-area .footer-wrapper {
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.footer-area .footer-wrapper .left-side h3 {
  font-size: 2rem;
  color: #fcfcfc;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

.footer-area .footer-wrapper .left-side ul {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: space-between; */
  gap: 1.5rem;
}

.footer-area .footer-wrapper .left-side ul li > p:nth-child(1) {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.731rem;
  margin-bottom: 0.75rem;
}

.footer-area .footer-wrapper .left-side ul li > p:nth-child(2) {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.55rem;
}

.footer-area .footer-wrapper .middle-side h3,
.footer-area .footer-wrapper .right-side h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.55rem;
}

.footer-area .footer-wrapper .middle-side {
  /* min-width: 230px; */
}

.footer-area .footer-wrapper .middle-side h3,
.footer-area .footer-wrapper .right-side h3 {
  color: rgba(255, 255, 255, 0.6);
}

.footer-area .footer-wrapper .middle-side .footer-nav {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-area .footer-wrapper .right-side ul {
  margin-top: 1rem;
}
.footer-area .footer-wrapper .middle-side .footer-nav ul,
.footer-area .footer-wrapper .right-side ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}

.footer-area .footer-wrapper .middle-side ul li a,
.footer-area .footer-wrapper .right-side ul li a {
  color: #fcfcfc;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.55rem;
}

.footer-area .copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  border-top: 1px solid var(--white);
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.footer-area .copyright p {
  font-size: 0.875rem;
  color: #fcfcfc;
}

.footer-area .copyright a {
  color: var(--white);
}

/* FOOTER SECTION END */

/* RESPONSIVE PART */

@media (max-width: 575px) {
  .container {
    padding: 0 1.25rem;
  }
  .section-heading {
    line-height: 2.4rem;
    /* font-size: 2rem; */
  }

  .header-area .menu,
  .conttact-btn,
  .img-block {
    display: none;
  }

  .header-area .navbar .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* ABOUT US */
  .about-us .container {
    margin: 3.75rem 0;
  }

  .about-us .contents {
    display: inherit;
  }

  .about-us .contents .left-block {
    width: 100%;
  }

  .about-us .contents .right-block {
    /* gap: 1.5rem; */
    margin-top: 1.5rem;
  }

  .about-us .about_counter {
    align-items: center;
    justify-content: center;
  }
  .about-us .about_future .image_block img {
    margin-top: 3rem;
  }

  .about-us .about_future {
    display: inherit;
  }
  .about-us .about_future .text-block,
  .about-us .about_future .image_block {
    width: 100%;
  }
  .about-us .about_brands .brand_img {
    justify-content: center;
  }
  .about-us .about_brands .brand_img img {
    width: 110px;
  }

  /* FOOTER AREA */

  .footer-area .footer-wrapper {
    flex-direction: column;
  }

  .footer-area .footer-wrapper .left-side h3 br {
    display: none;
  }

  .footer-area .footer-wrapper .left-side ul {
    align-items: start;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-area .footer-wrapper .left-side ul li > p:nth-child(1) {
    margin-bottom: 0.5rem;
  }

  .footer-area .footer-wrapper .right-side ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
  }

  .footer-area .copyright {
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    padding: 0 2.5rem;
  }

  .section-heading {
    line-height: 3rem;
  }

  .header-area .menu,
  .conttact-btn,
  .img-block {
    display: none;
  }

  .navbar .menu-icon {
    display: block;
    cursor: pointer;
  }

  /* ABOUT US */
  .about-us .contents {
    display: inherit;
  }

  .about-us .contents .right-block {
    margin-top: 1.5rem;
  }

  .about-us .about_future {
    display: inherit;
  }
  .about-us .about_future .text-block,
  .about-us .about_future .image_block {
    width: 100%;
  }

  .about-us .about_future .image_block img {
    margin-top: 3rem;
  }

  .about-us .about_brands .brand_img {
    justify-content: start;
  }
  .about-us .about_brands .brand_img img {
    width: 110px;
  }

  /* FAQ SECTION CSS */

  .faq-section {
  }

  .faq-section .faq-content {
    display: inherit;
  }

  .faq-section .faq-content .left-side {
    width: 100%;
  }

  .faq-section .faq-content .right-side {
    width: 100%;
  }

  .faq-section .faq-content .left-side .faq-img {
    display: none;
  }

  .faq-section .faq-content .right-side .faq-list .faq-item {
    padding: 1rem 0;
  }

  /* Footer Content */

  .footer-area .footer-wrapper {
    flex-direction: column;
  }

  .footer-area .footer-wrapper .right-side ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
  }

  .about-us .about_future {
    display: inherit;
  }
  .about-us .about_future .text-block,
  .about-us .about_future .image_block {
    width: 100%;
  }

  .about-us .about_future .image_block img {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 0 3.75rem;
  }

  .about-us .contents {
    display: inherit;
  }

  .about-us .contents .left-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
  }

  .about-us .section-heading {
    line-height: 3rem;
    /* width: 75%; */
  }

  .about-us .about_future {
    display: inherit;
  }
  .about-us .about_future .text-block,
  .about-us .about_future .image_block {
    width: 100%;
  }
  .about-us .about_future .image_block img {
    margin-top: 3rem;
  }

  /* FAQ SECTION CSS */

  .faq-section {
  }

  .faq-section .faq-content {
    display: inherit;
  }

  .faq-section .faq-content .left-side {
    width: 100%;
  }

  .faq-section .faq-content .right-side {
    width: 100%;
  }

  .faq-section .faq-content .left-side .faq-img {
    display: none;
  }

  .faq-section .faq-content .right-side .faq-list .faq-item {
    padding: 1rem 0;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
}

@media (min-width: 1440px) {
  .insights .section-head h3 {
    white-space: nowrap;
  }
}

.hide {
  display: none;
}
