/* FONTS */

/* ROOT CSS */

:root {
  --white: #ffffff;
  --gray-900: #18181b;
  --gray-500: #70707b;
}

/* GENERAL CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Satoshi", sans-serif;
  background-color: var(--white);
}

/* CUSTOM CLASSES */

.container {
  padding: 0 5rem;
  margin: 0 auto;
  /* background: #000; */
}

.main-heading {
  /* font-size: 6.5rem; */
  font-size: clamp(2rem, 0.3118rem + 7.0022vw, 6.5rem);
  /* font-size: clamp(2.5rem, 1.3571rem + 5.7143vw, 6.5rem); */
  color: var(--white);
  font-weight: 400;
  /* line-height: 7.15rem; */
  line-height: calc(clamp(2.5rem, 0.3118rem + 7.0022vw, 6.5rem));
  white-space: nowrap;
}

.main-heading span {
  font-weight: 700;
}

.section-heading {
  color: var(--gray-900);
  /* font-size: 3.25rem; */
  font-size: clamp(2rem, 1.5833rem + 2.0833vw, 3.25rem);

  font-weight: 400;
  line-height: 3.9rem;
  /* line-height: calc(clamp(3.25rem, 1.5833rem + 2.0833vw, 2rem)); */
  letter-spacing: -2%;
}

.section-paragraph {
  color: var(--gray-500);
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.937rem;
}

.normal-heading {
  color: var(--gray-900);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.781rem;
}

.normal-paragraph {
  color: var(--gray-500);
  font-size: 1rem;
  line-height: 1.55rem;
}

.btn-primary {
  padding: 0.625rem 1.406rem;
  background: var(--gray-900);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.55rem;
  border-radius: 0.75rem;
  text-transform: capitalize;
}

.btn-secondary {
  padding: 0.625rem 1.125rem;
  background: var(--white);
  color: var(--gray-900);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.55rem;
  border-radius: 0.75rem;
  text-transform: capitalize;
}

/* HEADER SECTION START */
.header-area {
  background-image: url("/assets/Images/hero_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}

.header-area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #000000ed, transparent 93%);
  z-index: -1;
}

.header-area::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000ed, transparent 20%);
  z-index: -1;
}

.header-area .navbar {
  padding: 1.656rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* z-index: 9999; */
}

.header-area .logo {
}
.header-area .menu {
}

.header-area .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: .5rem; */
}
.header-area .menu ul li a {
  color: var(--white);
  font-size: 0.875rem;
  line-height: 1.356rem;
  padding: 0.25rem 0.75rem;
}

.header-area .menu-icon {
  display: none;
}

.header-area .header_content {
  height: 100vh;
  padding-bottom: 4rem;
  display: flex;
  align-items: end;
}
.header-area .header_content .text-block {
  width: 80%;
}
.header-area .header_content .img-block {
  width: 20%;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-color: #ffffff43;
}
.header-area .header_content .img-block .img-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.header-area .header_content .img-block .img-wraper img {
  width: 100%;
}
/* HEADER SECTION END */

/* ABOUT US SECTION START */

.about-us {
}
.about-us .container {
  margin: 5rem 0;
}

.about-us .contents {
  display: flex;
  /* align-items: center; */
  gap: 3.8rem;
  justify-content: flex-start;
}

.about-us .contents .left-block {
  min-width: 45%;
  /* flex-basis: 1; */
}

.about-us .contents .left-block button {
  margin-top: 2rem;
}

.about-us .contents .right-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-us .our-details {
}
.about-us .our-details .details-cards {
  padding-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  background-color: white;
  align-items: start;
}
.about-us .our-details .details-cards .card {
  background-color: #fff;
  border-radius: 0.5px;

  text-align: start;
  display: flex;
  flex-direction: column;

  /* padding: 20px; */
}

.about-us .our-details .details-cards .card h3 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.about-us .our-details .details-cards .card:nth-child(1) {
  grid-column: span 3;
}
.about-us .our-details .details-cards .card:nth-child(2) {
  grid-column: span 4;
  margin-top: 10.5rem;
  aspect-ratio: 1/1;
}
.about-us .our-details .details-cards .card:nth-child(3) {
  grid-column: span 5;
}

.about-us .our-details .details-cards .card img {
  width: 100%;
  border-radius: 0.75rem;
  object-fit: cover;
}

/* ABOUT US SECTION END */

/* PROPERTY LSTING SECTION SRART */
.property-listing {
}
.property-listing .container {
  margin: 5rem 0;
}

.property-listing .section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.property-listing .section-head h3 {
  white-space: nowrap;
}

.property-listing .section-head p {
  width: 570px;
}

.property-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1.5rem;
  margin-top: 3.5rem;
}

.property-container .property-card {
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.property-container .property-card img {
  width: 100%;
  height: 21.25rem;
  border-radius: 0.75rem;
  object-fit: cover;
}

.property-container .property-card .property-tags {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  top: 10px;
  right: 10px;
}

.property-container .property-card .property-tags span {
  background: var(--gray-900);
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1%;
  padding: 0.5rem 0.75rem;
  border-radius: 1.375rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.property-container .property-card .property-tags span img {
  width: 1.25rem;
  height: 1.25rem;
}

.property-container .property-content {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.property-container .property-content h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.property-container .property-content p {
  color: var(--gray-500);
  font-size: 0.875rem;
}

.property-container .property-content .property-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.property-container .property-content .property-name-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.property-container .property-content .property-name h3 {
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.property-container .property-content .property-name p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.property-container .property-content .property-name img {
  width: 20px;
  height: 20px;
}

.property-container .property-content .property-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.property-container .property-content .property-price .price {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: var(--gray-900);
}

.property-container .property-content .property-info p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.property-container .property-content .property-info img {
  width: 1.5rem;
  height: 1.5rem;
}

.property-container .property-content hr {
  display: block;
  height: 1.5px;
  border-top: 1px solid #e4e4e7;
  margin: 1em 0;
}

/* PROPERTY LSTING SECTION END */

.hide {
  display: none;
}
